body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: gray;
    display: block;
}

footer {
    background-color: rgb(124, 147, 116);
    display: block;
    padding: .5em;
    text-align: center;
}

#headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headerContent {
    background-color: rgb(141, 45, 50);
    display: block;
    margin: 0 auto; width: 315px;
    text-align: center;
    width: 100%;
}

#headerWelcome {
    flex-grow: 2;
}

#logo {
    width: 5em;
    float: left;
    padding: 0 1em 0 0;
}

#main {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#logs {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    padding: 50px;
    display: block;
    border-left: 1px solid black;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: 3px solid black;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#statusBase {
    padding: 40px;
    font-size: large;
}

#status {
    color: red;
}

nav {
    height: 54px;
    flex-grow: 2;
}

menu {
    float: right;
    padding-top: 3%;
    padding-right: 6%;
}

nav menu li {
    display: inline;
    font-size: 18px;
    padding: 8px;
}

nav menu li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}