main.control {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.control ul li {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    display: block;
    border-left: 1px solid black;
    padding-left: 2em;
}

.control div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.control label {
    display: block;
    margin-bottom: 8px;
}

.control input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.control button {
    background-color: #4caf50;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: 3px solid black;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.control button:hover {
    background-color: #45a049;
}

.control button.opened {
    background-color: #4caf50;
}

.control button.closed {
    background-color: red;
}

.control #statusBase {
    padding: 40px;
    font-size: large;
}

.control #status.closed {
    color: red;
}

.control #status.opened {
    color: #4caf50;
}